<div class="col-md-12 mt-4">
    <h3>Registro de Cliente</h3>
    <div class="status-container">
        <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="0" class="alert alert-success"><p>¡Registro exitoso!</p></div>
            <div *ngSwitchCase="1" class="alert alert-warning"><p>No se pudo agregar el Cliente.</p></div>
            <div *ngSwitchCase="2" class="alert alert-danger"><p>Error de servidor.</p></div>
        </ng-container>
    </div>
    <form class="col-md-8 mx-auto" #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" #nombre="ngModel" class="form-control" name="nombre"
                   required [(ngModel)]="cliente.nombre"/>
            <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback d-block">
                Nombre es requerido
            </div>

            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" #apellido="ngModel" class="form-control" name="apellido"
                   required [(ngModel)]="cliente.apellido"/>
            <div *ngIf="apellido.invalid && apellido.touched" class="invalid-feedback d-block">
                Apellido es requerido
            </div>

            <label for="cedula">Cédula</label>
            <input id="cedula" type="number" #cedula="ngModel" class="form-control" name="cedula"
                   required [(ngModel)]="cliente.cedula"/>
            <div *ngIf="cedula.invalid && cedula.touched" class="invalid-feedback d-block">
                Cédula es requerida
            </div>

            <label for="telefono">Teléfono</label>
            <input id="telefono" type="text" #telefono="ngModel" class="form-control" name="telefono"
                   required [(ngModel)]="cliente.telefono"/>
            <div *ngIf="telefono.invalid && telefono.touched" class="invalid-feedback d-block">
                Teléfono es requerido
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="clienteForm.invalid">Guardar</button>
    </form>
</div>
