<div *ngIf="mensajeError" class="alert alert-danger">
    {{ mensajeError }}
  </div>
  
  <div *ngIf="!mensajeError && facturas.length > 0">
    <h2>Facturas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Fecha de Emisión</th>
          <th>Subtotal</th>
          <th>Descuento</th>
          <th>Impuesto</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas">
          <td>{{ factura.idFactura }}</td>
          <td>{{ factura.fechaEmision | date }}</td>
          <td>{{ factura.subTotal | currency }}</td>
          <td>{{ factura.descuento | percent }}</td>
          <td>{{ factura.impuesto | percent }}</td>
          <td>{{ factura.total | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="!mensajeError && facturas.length === 0">
    <p>No se encontraron facturas para este usuario.</p>
  </div>
  