<link rel="stylesheet" href="admin.component.css">
<br>

<div class="fullscreen-image">
    <img src="/assets/costarica-tucan-01.jpg" alt="Admin Dashboard">
</div>

<br><br><br><br>
<div class="admin">
    <h1>Admin Dashboard</h1>
    <div class="card-container">
        <p-card header="Gestión de Parques Nacionales">
            <p class="m-0">
                Administrar los parques nacionales, incluyendo creación, edición y eliminación.
            </p>
            <div class="button-container">
                <a [routerLink]="['/parqueRUD']" class="p-button font-bold">
                    Ir a Gestión de Parques Nacionales
                </a>
            </div>
        </p-card>
    </div>
    <div class="card-container">
        <p-card header="Gestión de Tours">
            <p class="m-0">
                Crear, editar y eliminar tours disponibles.
            </p>
            <div class="button-container">
                <a [routerLink]="['/tours']" class="p-button font-bold">
                    Ir a Gestión de Tours
                </a>
            </div>
        </p-card>
    </div>
    <div class="card-container">
        <p-card header="Gestión de Clientes">
            <p class="m-0">
                Administrar la información y cuentas de los Clientes
            </p>
            <div class="button-container">
                <a [routerLink]="['/usuariosTable']" class="p-button font-bold">
                    Ir a Gestión de Usuarios
                </a>
            </div>
        </p-card>
    </div>
    <div class="card-container">
        <p-card header="Gestión de Usuarios">
            <p class="m-0">
                Administrar las cuentas de usuarios, roles y permisos.
            </p>
            <div class="button-container">
                <a [routerLink]="['/register']" class="p-button font-bold">
                    Ir a Gestión de Usuarios
                </a>
            </div>
        </p-card>
    </div>
    <div class="card-container">
        <p-card header="Gestión de Empleados">
            <p class="m-0">
                Administrar la información y cuentas de los empleados.
            </p>
            <div class="button-container">
                <a [routerLink]="['/empleadosTable']" class="p-button font-bold">
                    Ir a Gestión de Empleados
                </a>
            </div>
        </p-card>
    </div>
</div>
