/* General styling for login container */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(90deg, rgba(171, 206, 212, 0.5), rgba(112, 213, 247, 0.5), rgba(106, 247, 106, 0.5));
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

/* Modern title */
.login-container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold; 
}

/* Input field styles */
.login-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #60d0fc;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.login-container input:focus {
  border-color: #155f1a;
  outline: none;
}

/* Submit button style */
.login-container button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #1b491d; /* Text color */
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.login-container button:hover {
  color: rgb(245, 248, 247);
  background-color: #194729;
  border-color:none;
}

.register-button {
  width: 100%;
  padding: 1px;
  color: #1b491d; 
  background: transparent;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
  margin-top: 5px;
}

.register-button:hover {
  color: white;
  background-color:#194729;
  border-color:none;
}

/* Error message styling */
.login-container .error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
