<div class="col-md-12 mt-4">
    <h3>Registro de Tour</h3>
    <span>
      @switch (status) {
        @case (0) {
          <div class="alert alert-success"><p>Registro exitoso!</p></div>
        }
        @case (1) {
          <div class="alert alert-warning"><p>No se pudo agregar el Tour!</p></div>
        }
        @case (2) {
          <div class="alert alert-danger"><p>Error de servidor!</p></div>
        }
      }
    </span>
    <form class="col-md-8 mx-auto" #tourForm="ngForm" (ngSubmit)="onSubmit(tourForm)">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <textarea id="nombre" #nombre="ngModel" class="form-control" name="nombre"
        required [(ngModel)]="tour.nombre"></textarea>
        <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback d-block">
          Nombre es requerido
        </div>
  
        <label for="fecha">Fecha</label>
        <input id="fecha" type="date" #fecha="ngModel" class="form-control" name="fecha"
        required [(ngModel)]="tour.fecha"/>
        @if(fecha.invalid && fecha.touched){
          <small class="invalid-feedback d-block">Fecha es requerida</small>
        }
  
        <label for="idParque">Parque</label>
        <select id="idParque" #idParque="ngModel" class="form-control" name="idParque"
        required [(ngModel)]="tour.idParque">
          <option *ngFor="let parque of parques" [value]="parque.idParque">{{ parque.nombre }}</option>
        </select>
        @if(idParque.invalid && idParque.touched){
          <small class="invalid-feedback d-block">ID de parque es requerido</small>
        }
  
        <label for="precio">Precio</label>
        <input id="precio" type="number" #precio="ngModel" class="form-control" name="precio"
        required [(ngModel)]="tour.precio"/>
        @if(precio.invalid && precio.touched){
          <small class="invalid-feedback d-block">Precio es requerido</small>
        }
  
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" #descripcion="ngModel" class="form-control" name="descripcion"
        required [(ngModel)]="tour.descripcion"></textarea>
        @if(descripcion.invalid && descripcion.touched){
          <small class="invalid-feedback d-block">Descripción es requerida</small>
        }
  
        <label for="horaInicio">Hora de Inicio</label>
        <input id="horaInicio" type="time" #horaInicio="ngModel" class="form-control" name="horaInicio"
        required [(ngModel)]="tour.horaInicio"/>
        @if(horaInicio.invalid && horaInicio.touched){
          <small class="invalid-feedback d-block">Hora de inicio es requerida</small>
        }
  
        <label for="duracion">Duración (minutos)</label>
        <input id="duracion" type="number" #duracion="ngModel" class="form-control" name="duracion"
        required [(ngModel)]="tour.duracion"/>
        @if(duracion.invalid && duracion.touched){
          <small class="invalid-feedback d-block">Duración es requerida</small>
        }
      </div>
      <button type="submit" class="btn btn-primary mt-2" [disabled]="tourForm.invalid">Guardar</button>
    </form>
  </div>
  