/* Estilo para los enlaces dentro del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px; /* Puedes ajustar este valor según tus necesidades */
    background-color: #f8f9fa; /* Cambia el color de fondo según lo que desees */
    border-bottom: 1px solid #ccc; /* Opcional: Agrega un borde inferior */
}

/* Estilo para los enlaces dentro del navbar */
.navbar a {
    color: #000;
    float: left; /* Flota los enlaces hacia la izquierda */
    font-size: 1.1em; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto al centro */
    padding: 14px 16px; /* Espaciado alrededor del contenido */
    text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
}

/* Cambia el color de fondo de los enlaces cuando se pasa el cursor sobre ellos */
.navbar a:hover {
    background-color: #e0dede;
}

/* Puedes agregar estos estilos a tu archivo de estilos global o específico del componente */
footer {
    width: 100%;
    background-color: #23242a;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ddd;
    text-decoration: underline;
}

.navbar-green {
    background-color: #228B22;
}
