<div class="container">
    <h2>Buscar Reservas por Fecha</h2>
    <form (ngSubmit)="obtenerReservasPorFecha()">
      <div class="form-group">
        <label for="fechaInicio">Fecha de Inicio</label>
        <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" name="fechaInicio" required>
      </div>
      <div class="form-group">
        <label for="fechaFinal">Fecha de Finalización</label>
        <input type="date" id="fechaFinal" [(ngModel)]="fechaFinal" name="fechaFinal" required>
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  
    <!-- Mostrar el mensaje "Reservas Encontradas" solo si ya se ha hecho la búsqueda y hay reservas -->
    <h3 *ngIf="isSearched && reservas.length > 0">Reservas Encontradas</h3>
  
    <!-- Mostrar el mensaje de "No se encontraron reservas" solo si ya se ha hecho la búsqueda y no hay reservas -->
    <p *ngIf="isSearched && reservas.length === 0">No se encontraron reservas para las fechas seleccionadas.</p>
  
    <!-- Mostrar las reservas solo si hay resultados -->
    <table class="table table-bordered" *ngIf="reservas.length > 0">
      <thead>
        <tr>
          <th>Nombre del Usuario</th>
          <th>Fecha de Reserva</th>
          <th>Nombre del Tour</th>
          <th>Fecha del Tour</th>
          <th>Cantidad de Visitantes</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.NombreUsuario }}</td>
          <td>{{ reserva.fechaReserva | date: 'shortDate' }}</td>
          <td>{{ reserva.NombreTour }}</td>
          <td>{{ reserva.fechaTour | date: 'shortDate' }}</td>
          <td>{{ reserva.cantVisitantes }}</td>
          <td>{{ reserva.subTotal | currency: 'USD' }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Botón para mostrar/ocultar todas las reservas de usuarios -->
    <button (click)="toggleMostrarTodasLasReservas()" class="btn btn-info mt-4">
      {{ mostrarTodasLasReservas ? 'Ocultar' : 'Mostrar' }} todas las reservas de usuarios
    </button>
  
    <!-- Mostrar las reservas de todos los usuarios solo si el botón fue activado -->
    <div *ngIf="mostrarTodasLasReservas">
      <h2>Reservas de Usuarios</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre del Usuario</th>
            <th>Fecha de Reserva</th>
            <th>Nombre del Tour</th>
            <th>Fecha del Tour</th>
            <th>Cantidad de Visitantes</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detallesReserva">
            <td>{{ detalle.NombreUsuario }}</td>
            <td>{{ detalle.fechaReserva | date: 'shortDate' }}</td>
            <td>{{ detalle.NombreTour }}</td>
            <td>{{ detalle.fechaTour | date: 'shortDate' }}</td>
            <td>{{ detalle.cantVisitantes }}</td>
            <td>{{ detalle.subTotal | currency: 'USD' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  