.mat-dialog-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .editCliente {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .status-container {
    margin-bottom: 20px;
  }
  
  .alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .alert-success {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Verde oscuro */
  }
  
  .alert-warning {
    background-color: #fff3cd; /* Amarillo claro */
    color: #856404; /* Amarillo oscuro */
  }
  
  .alert-danger {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Rojo oscuro */
  }
  
  .edit-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc; /* Gris claro */
    border-radius: 5px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .form-actions button {
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .form-actions button:nth-child(1) {
    background-color: #ccc; /* Gris claro */
  }
  
  .form-actions button:nth-child(2) {
    background-color: #007bff; /* Azul */
    color: #fff; /* Blanco */
  }
  