.tours h1{
    font-size: 350%;
    text-align: center;
    font-family: cursive;
}

.m-0{
    font-family: cursive;
}

.tours{
    background-color: rgb(247, 242, 242);
    border-radius: 1%;
    border-style: none;
}
.casona{
    width: 1250px;
    height: 1250px;
}

.vieja{
    width: 1250px;
    height: 1250px;
}

.tamano{
    width: 1250px;
    height: 1250px;
}

/* Elimina márgenes y relleno por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor que ocupa toda la página */
.fullscreen-image {
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana del navegador */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303; /* Ajusta este color según tu preferencia */
    position: relative;
    overflow: hidden;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    border: 5px solid #000000; /* Borde de la imagen */
    border-radius: 10px;
}


/* Contenedor que alinea el botón a la derecha */
.button-container {
    text-align: right;
    margin-top: 10px; /* Ajusta este valor según tus necesidades */
}

/* Estilo del botón para que no parezca un enlace */
.p-button {
    
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Hereda el color del texto */
    background-color: rgb(47, 115, 218); /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de puntero */
    font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s, color 0.3s; /* Transición para efectos */
}

.p-button:hover {
    background-color: #ddd; /* Color de fondo al pasar el cursor */
    color: #000; /* Color del texto al pasar el cursor */
    border-radius: 5px; /* Borde redondeado al pasar el cursor */
}
