<link rel="stylesheet" href="home.component.css">
<br>



<div class="fullscreen-image">
    <img src="/assets/hd.jpg" alt="Casona Santa Rosa">
</div>

<br><br><br><br>
<div class="tours">
    <h1>Reserva de Tours</h1>
    <p-card header="Parque Nacional Rincón de la Vieja">
        <p class="m-0">
            ¡Actividad volcánica y diversos tipos de ecosistemas! Conocerá desde un bosque seco hasta uno nuboso en medio de un ambiente volcánico en un recorrido de corta duración
        </p>
        <div class="button-container">
            <a routerLink="/reserva" class="p-button font-bold">
                Reserva Ya!
            </a>
        </div>
    </p-card>
    <br>
    <p-card header="Parque Nacional Santa Rosa">
        <p class="m-0">
            ¡Riqueza natural y mucho que contar! Historia y naturaleza se entrelazan en este sitio, ubicado en Guanacaste y considerado como patrimonio de la humanidad.
        </p>
        <div class="button-container">
            <a routerLink="/reserva" class="p-button font-bold">
                Reserva Ya!
            </a>
        </div>
    </p-card>
    <br>
    <p-card header="Parque Nacional Tortuguero">
        <p class="m-0">
            ¡Tierra de tortugas y humedales! Alejado de la ciudad, conformado por canales y con acceso únicamente a través de lancha: así es el Parque Nacional Tortuguero, un lugar diferente a cualquier otro del país.
        </p>
        <div class="button-container">
            <a routerLink="/reserva" class="p-button font-bold">
                Reserva Ya!
            </a>

        </div>
    </p-card>
    <br>
    <p-card header="Parque Nacional Volcán Arenal">
        <p class="m-0">
            ¡Más que un coloso! Coladas de lava, senderos por un extenso bosque lluvioso, cataratas y aguas termales son otros de los atractivos de la zona.
        </p>
        <div class="button-container">
            <a routerLink="/reserva" class="p-button font-bold">
                Reserva Ya!
            </a>
        </div>
    </p-card>
    <br>
    <p-card header="Parque Nacional Volcán Poás">
        <p class="m-0">
            ¡Tierra donde la fuerza de la naturaleza y el frescor de las nubes se mezclan! Está activo y posee uno de los cráteres más grandes del mundo. Conozca este coloso sin recorrer grandes distancias.
        </p>
        <div class="button-container">
            <a routerLink="/reserva" class="p-button font-bold">
                Reserva Ya!
            </a>
        </div>
    </p-card>
</div>


