<h4 mat-dialog-title>Editar Empleado</h4>
<div class="editEmpleado" mat-dialog-content>
  <div *ngIf="status === 0" class="alert alert-success">
    <p>Actualización exitosa!</p>
  </div>
  <div *ngIf="status === 1" class="alert alert-warning">
    <p>No se pudo actualizar el empleado!</p>
  </div>
  <div *ngIf="status === 2" class="alert alert-danger">
    <p>Error de servidor!</p>
  </div>
  <form class="col-md-8 mx-auto" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
    <input id="idEmpleado" type="text" [(ngModel)]="data.idEmpleado" name="idEmpleado" hidden>

    <div class="form-grid">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input matInput type="text" [(ngModel)]="data.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="cedula">Cédula:</label>
        <input matInput type="number" [(ngModel)]="data.cedula" name="cedula" required>
      </div>
      <div class="form-group">
        <label for="correo">Email:</label>
        <input matInput type="email" [(ngModel)]="data.correo" name="correo" required>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input matInput type="number" [(ngModel)]="data.telefono" name="telefono" required>
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha de Ingreso:</label>
        <input matInput type="date" [(ngModel)]="data.fechaIngreso" name="fechaIngreso" required>
      </div>
      <div class="form-group">
        <label for="roll">Roll:</label>
        <input matInput type="text" [(ngModel)]="data.roll" name="roll" required>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit">Actualizar</button>
    </div>
  </form>
</div>
