<div class="col-md-12 mt-4">
  <h3>Registro de Empleados</h3>
  <span>
    <div *ngIf="status === 0" class="alert alert-success">
      <p>Registro exitoso!</p>
    </div>
    <div *ngIf="status === 1" class="alert alert-warning">
      <p>No se pudo agregar el empleado!</p>
    </div>
    <div *ngIf="status === 2" class="alert alert-danger">
      <p>Error de servidor!</p>
    </div>
  </span>
  <form class="col-md-8 mx-auto" #empleadoForm="ngForm" (ngSubmit)="onSubmit(empleadoForm)">

      <label for="cedula">Cédula</label>
      <input id="cedula" type="number" #cedula="ngModel" class="form-control" name="cedula"
        [(ngModel)]="empleado.cedula" required>
      <small *ngIf="!cedula.valid && cedula.touched" class="invalid-feedback d-block">Cédula es requerida</small>
      
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" #nombre="ngModel" class="form-control" name="nombre"
          pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$" [(ngModel)]="empleado.nombre" required>
        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">Formato no válido</small>

      <label for="correo">Correo</label>
      <input id="correo" type="email" #correo="ngModel" class="form-control" name="correo" 
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$" [(ngModel)]="empleado.correo" required>
      <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">Formato inválido</small>

      <label for="contrasena">Contraseña</label>
      <input id="contrasena" type="password" #contrasena="ngModel" class="form-control" name="contrasena" 
        pattern=".{6,}" [(ngModel)]="empleado.contrasena" required>
      <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedback d-block">
        La contraseña debe tener al menos 6 caracteres.
      </small>
      

      <label for="telefono">Teléfono</label>
      <input id="telefono" type="number" #telefono="ngModel" class="form-control" name="telefono" 
        [(ngModel)]="empleado.telefono" required>
      <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">Formato inválido</small>

      <label for="fechaIngreso">Fecha de Ingreso</label>
      <input id="fechaIngreso" type="date" #fechaIngreso="ngModel" class="form-control" name="fechaIngreso"
        [(ngModel)]="empleado.fechaIngreso" required>
      <small *ngIf="!fechaIngreso.valid && fechaIngreso.touched" class="invalid-feedback d-block">Fecha de ingreso es requerida</small>

      <label for="roll">Rol</label>
      <input id="roll" type="text" #roll="ngModel" class="form-control" name="roll"
        [(ngModel)]="empleado.roll" required>
      <small *ngIf="!roll.valid && roll.touched" class="invalid-feedback d-block">Rol es requerido</small>
    </div>
    <a routerLink="/empleadosTable">Empleado Tablas</a>
    <div class="button-container">
      <input type="submit" class="btn btn-primary mt-2" value="Guardar" [disabled]="empleadoForm.invalid">
      <a routerLink="/empleadosTable" class="btn btn-danger mt-2 ml-2">Regresar</a>
    </div>
  </form>
</div>
