<link rel="stylesheet" href="guia.component.css">
<br>

<div class="fullscreen-image">
    <img src="/assets/costarica-tucan-01.jpg" alt="Guia Dashboard">
</div>

<br><br><br><br>
<div class="guia">
    <h1>Panel de Guia</h1>
    <div class="card-container">
        <p-card header="Visualización de Reservas">
            <p class="m-0">
                Visualiza las reservas de los tours.
            </p>
            <div class="button-container">
                <a [routerLink]="['/visReservas']" class="p-button font-bold">
                    Ir a Visualización de Reservas
                </a>
            </div>
        </p-card>
    </div>
</div>

