<h4 mat-dialog-title>Editar Tour</h4>
<div class="editTour" mat-dialog-content>
    <span>
        @switch (status) {
          @case (0) {
            <div class="alert alert-success"><p>Registro exitoso!</p></div>
          }
          @case (1) {
            <div class="alert alert-warning"><p>No se pudo agregar el Tour!</p></div>
          }
          @case (2) {
            <div class="alert alert-danger"><p>Error de servidor!</p></div>
          }
        }
      </span>
  <form class="col-md-8 mx-auto" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
    <input id="id" type="text" [(ngModel)]="data.idTour" name="idTour" hidden>

    <div class="form-grid">
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" [(ngModel)]="data.fecha" name="fecha" required>
      </div>
      <div class="form-group">
        <label for="idParque">Parque:</label>
        <select id="idParque" #idParque="ngModel" class="form-control" name="idParque" required [(ngModel)]="data.idParque">
          <option *ngFor="let parque of parques" [value]="parque.idParque">{{ parque.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" [(ngModel)]="data.precio" name="precio" required>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" [(ngModel)]="data.descripcion" name="descripcion" required>
      </div>
      <div class="form-group">
        <label for="horaInicio">Hora de Inicio:</label>
        <input type="time" [(ngModel)]="data.horaInicio" name="horaInicio" required>
      </div>
      <div class="form-group">
        <label for="duracion">Duración:</label>
        <input type="number" [(ngModel)]="data.duracion" name="duracion" required>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit">Actualizar</button>
    </div>
  </form>
</div>
