<div>
  <input type="text" placeholder="Buscar Empleado..." [(ngModel)]="searchTerm">
  <button mat-button class="buscar" (click)="search()" style="background-color: #0e130eb6; color: white;">
    <mat-icon>search</mat-icon> Buscar
  </button>
  <button mat-button class="agregarCliente" [routerLink]="['/agregarEmpleado']" style="background-color: #265f26; color: white;">
    <mat-icon>add</mat-icon> Agregar Empleado
  </button>
  <h2>Empleados</h2>
  <table>
    <thead>
      <tr>
        <th>idEmpleado</th>
        <th>cedula</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>correo</th>
        <th>telefono</th>
        <th>fechaIngreso</th>
        <th>rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="empleados && empleados.length > 0">
        <tr *ngFor="let empleados of empleados">
          <td>{{ empleados.idEmpleado }}</td>
          <td>{{ empleados.cedula }}</td>
          <td>{{ empleados.nombre }}</td>
          <td>{{ empleados.apellido }}</td>
          <td>{{ empleados.correo }}</td>
          <td>{{ empleados.telefono }}</td>
          <td>{{ empleados.fechaIngreso }}</td>
          <td>{{ empleados.rol }}</td>
          <td>
            <button class="edit" (click)="actualizarEmpleado(empleados)">
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button class="delete" (click)="eliminarEmpleado(empleados)">
              <mat-icon>delete</mat-icon> Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!empleados || empleados.length === 0">
        <tr>
          <td colspan="8">No hay empleados disponibles.</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="back-button-container">
  <button mat-button class="back" [routerLink]="['/Admin']" style="background-color: #0e130eb6; color: white;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
</div>
