<div>
  <div class="search-container">
    <input type="text" placeholder="Buscar Parque..." [(ngModel)]="searchTerm" class="search-input">
    <div style="display: inline-block;">
      <button mat-button class="buscar" (click)="search()">
        <mat-icon>search</mat-icon>Buscar
      </button>
      <button mat-button class="agregar-parque" [routerLink]="['/agregarParque']">
        <mat-icon>add</mat-icon>Agregar Parque
      </button>
    </div>
  </div>
  <h2>Parques Nacionales</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Ubicacion</th>
        <th>Descripción</th>
        <th>Tipo Bosque</th>
        <th>Tipo Clima</th>
        <th>correo</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="parques && parques.length > 0; else noParques">
        <tr *ngFor="let parque of parques">
          <td>{{ parque.idParque }}</td>
          <td>{{ parque.nombre }}</td>
          <td>{{ parque.ubicacion }}</td>
          <td>{{ parque.descripcion }}</td>
          <td>{{ parque.tipoBosque }}</td>
          <td>{{ parque.tipoClima }}</td>
          <td>{{ parque.correo }}</td>
          <td>{{ parque.telefono }}</td>
          <td>
            <button mat-button class="edit" (click)="actualizarParque(parque)">
              <mat-icon>edit</mat-icon>Editar
            </button>
            <button mat-button class="delete" (click)="eliminarParque(parque)">
              <mat-icon>delete</mat-icon>Eliminar
            </button>
          <button mat-button class="ver-tours" (click)="verTours(parque)">
            <mat-icon>list</mat-icon>Ver Tours
          </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noParques>
        <tr>
          <td colspan="9">No hay parques disponibles.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<div class="back-button-container">
  <button mat-button class="back" [routerLink]="['/Admin']">
    <mat-icon>arrow_back</mat-icon>Regresar al Admin Dashboard
  </button>
</div>
