<div class="search-container">
  <input type="text" placeholder="Buscar cliente..." [(ngModel)]="searchTerm" class="search-input">
  <button mat-button class="buscar" (click)="search()">
    <mat-icon>search</mat-icon>Buscar
  </button>
  <button mat-button class="agregar-parque" [routerLink]="['/agregar-client']">
    <mat-icon>add</mat-icon>Agregar Cliente
  </button>
  <button mat-button class="agregarCliente" [routerLink]="['/agregarCliente']">
      <mat-icon>add</mat-icon>Agregar Cliente
  </button>
</div>
<h2>Clientes</h2>
<div class="table-container">
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Cédula</th>
              <th>Teléfono</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngIf="clientes && clientes.length > 0">
              <tr *ngFor="let cliente of clientes">
                  <td>{{ cliente.idCliente }}</td>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.apellido }}</td>
                  <td>{{ cliente.cedula }}</td>
                  <td>{{ cliente.telefono }}</td>
                  <td>
                    <button mat-button class="edit" (click)="actualizarCliente(cliente)">
                        <mat-icon>edit</mat-icon>Editar
                      </button>
                      <button mat-button class="delete" (click)="eliminarCliente(cliente)">
                        <mat-icon>delete</mat-icon>Eliminar
                      </button>
                  </td>
              </tr>
          </ng-container>
          <ng-container *ngIf="!clientes || clientes.length === 0">
            <tr>
              <td colspan="8">No hay clientes disponibles.</td>
            </tr>
          </ng-container>
      </tbody>
  </table>
</div>
<div class="back-button-container">
  <button mat-button class="back" [routerLink]="['/Admin']">
      <mat-icon>arrow_back</mat-icon>Regresar al Admin Dashboard
  </button>
</div>
