.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc; /* Gris claro */
    border-radius: 5px;
  }
  
  .table-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd; /* Gris claro */
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2; /* Gris muy claro */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris muy claro */
  }
  
  .table tbody tr:hover {
    background-color: #ddd; /* Gris claro */
  }
  
  .mat-icon {
    margin-right: 5px;
  }
  